/*全体的な基本設定*/

* {
    margin: 0;
/*    font-family: 'Nova Mono', monospace;*/
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-size: 26px;
    color: black;
    margin: 0;
    padding: 2px;
}

h2 {
    font-size: 22px;
    color: black;
    margin: 0;
    padding: 2px;
}

h3 {
    font-size: 20px;
    color: black;
    margin: 0;
    padding: 2px;
}

h4 {
    font-size: 18px;
    color: black;
    margin: 0;
    padding: 2px;
}

h5 {
    font-size: 16px;
    color: black;
    margin: 0;
    padding: 2px;
}

p {
    font-size: 14px;
    color: gray;
    margin: 0;
    padding: 2px;
    line-height: 2.0;
}

li {
    font-size: 14px;
    color: black;
}

pre {
    background-color: #ebf8ff;
}

/*リンクのhover時の下線をなくす*/
a:hover {
    text-decoration: none;
}


/*header部分*/

.brand-name {
    font-family: 'Nova Mono', monospace;
}

/*フェイスブック、ツイッター のリンクアイコンへ適用*/
.nav-left {
    width: 80px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}




/*カード部分の設定*/

/*カードにマージンを設定して隙間を作った*/
.card {
/*    margin: 15px;*/
    margin-bottom: 15px;
}

.con-prog-sql-php2 .card {
    margin-bottom: 0;
}

/*メインカードの更新内容部分のフォントカラーを設定*/
.con-rec-p {
    color: dodgerblue;
}

/*カード内のリンクへ適用*/
.card-link-img {
    width: 150px;
}

.card-link {
    text-align: center;
    margin-bottom: 15px;
}

/*カードの画像のopacityを少し薄くしておく*/
.card-img-top {
    opacity: 0.7;
}

.con-prog-sql .card-top img {
    max-width: 800px;
    height: 250px;
    object-fit: none;
    object-position: 100% 10%;
}

.con-prog-php .card-top img {
    max-width: 800px;
    height: 250px;
    object-fit: cover;
    object-position: 100% 70%;
    margin-left: auto;
    margin-right: auto;
}


/*カードがhoverの時の変色を設定*/
.card:hover {
    background-color: #e2eef4;
}
.card:hover .card-header{
    background-color: #b1e3f7;
}

.card:hover .card-img-top {
    opacity: 1.0;
}

/*カードがhoverの時の変色を設定con-prog-sql-php2のnote用*/
.con-prog-sql-php2 .card:hover {
    background-color: inherit;
}
.con-prog-sql-php2 .card:hover .card-header{
    background-color: #b1e3f7;
}

.con-prog-sql-php2 .card:hover .card-img-top {
    opacity: 1.0;
}


.btn-top {
    width: 100%;
    margin-top: 15px;
}



/*music note の設定*/

/*awa部分の設定*/
.music-iframe {
    max-width: 354px;
    width: 100%;
    height: 354px;
}

.awa-div {
    text-align: center;
}

.awa-come {
    text-align: center;
}

.music-bgcolor {
    background-color: #353a3f;
}




/*ツイート部分の「今日のつぶやき」文字色*/
.cont-tweet-header {
    color: dimgray;
}




/*footer部分の設定用*/
.box2 {
    /*    background-color: gray;*/
    margin: 0;
}

.box3 {
    background-color: #353a3f;
    border-top: 1px solid gray;
}

footer ul {
    padding-left: 0;
}

footer li {
    list-style: none;
    /*    padding-left: 0;*/
}

.foot {
    text-align: center;
}

/*Twitter風に関する設定*/

/*リンクの設定*/
/*リンクの設定*/
.con-prog-sql-php2 a{
    text-decoration: none;
    color: black;
    font-size:14px;
    border-bottom: 1px dashed dodgerblue;
}
.con-prog-sql-php2 a:hover {
    opacity: 0.5;
}

/*ピックアップボックスの設定*/
.pickup-box {
    box-sizing: border-box;
    border: 5px solid #b5c9f0;
    padding: 10px 5px;
    margin-bottom: 20px;
}

/*ピックアップテーブルの設定*/
.pickup-table table {
    border-collapse: collapse;
    border: 2px solid #b5c9f0;
    margin-bottom: 20px;
}
.pickup-table table th, table td {
    border: 1px dashed #b5c9f0;
}
.pickup-table table th {
/*    color: white;*/
    background-color: #b5c9f0;
    text-align: center;
}

/*チップスボックスの設定*/
.chips-box {
    box-sizing: border-box;
    border: 2px dashed #b5c9f0;
    padding: 10px 5px;
    margin-bottom: 20px;
}

/*リンクボックスの設定*/
.link-box {
    box-sizing: border-box;
    background-color: #e5edf2;
    margin-bottom: 20px;
}

/*ビデオボックスの設定*/
.video-box{
    position:relative;
    width:100%;
    padding-top:56.25%;
    margin-bottom: 20px;
}
.video-box iframe{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
}

/*イメージボックス*/
.image-box {
    border: 5px solid #b1e3f7;
    margin: 20px;
    padding: 20px;
}
.image-box img {
    width: 100%;
}

/*ラインナンバーを1行づつに入れる指示*/
.prettyprint ol.linenums > li {
    list-style-type: decimal;
    background: #ebf8ff;
}

.prettyprint {
    background: #ebf8ff;
    /*  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;*/
    border: 0 !important;
}
