* {
    margin: 0;
}

h1 {
    font-size: 14px;
    color: black;
    margin: 0;
    padding: 2px;
}

p {
    font-size: 12px;
    color: gray;
    margin: 0;
    padding: 2px;
    line-height: 2.0;
}

li {
    font-size: 12px;
    color: black;
}

body {
/*    background-color: white;*/
}

.box1 {
    background-color: #353a3f;
    /*    border: 2px solid white;*/
    /*    box-sizing: border-box;*/
    margin: 2px;
}

.box2 {
/*    background-color: gray;*/
    margin: 0;
}

.box3 {
    background-color: #353a3f;
    border-top: 1px solid gray;
}

.sec-info h1,
.sec-info p {
    display: inline-block;
}


footer ul {
    padding-left: 0;
}


footer li {
    list-style: none;
    /*    padding-left: 0;*/
}


.foot {
    text-align: center;
}

.con-unneed h1,
.con-unneed p {
    color: black;
}

.con-rec-p {
    color: dodgerblue;
}

.con-rec-pg {
    color: gray;
}

.con-area li {
    color: black;
}

.box-con-sub {
    margin: 10px;
}

.card-190311 .btn {
    width: 90%;
}

.card-link-img {
    width: 150px;
}

.card-link {
    text-align: center;
    margin-bottom: 15px;
}

.cont-tweet-header {
    color: dimgray;
}

.nav-left {
    width: 80px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.card:hover .card-header{
    background-color: #caeefc;
}

.card:hover .card-body {
    background-color: #f6f9fa;
}



.card:hover .card-img-top {
    opacity: 1.0;
}

.card-img-top {
    opacity: 0.7;
}


.card-body-m {
    height: auto;
}

.card-m-190317 {
    height: auto;
}

.music-iframe {
    max-width: 354px;
    width: 100%;
    height: 354px;
}

.awa-div {
    text-align: center;
}

.awa-come {
    text-align: center;
}

.music-bgcolor {
    background-color: #353a3f;
}

