/*全体的な基本設定*/

* {
    margin: 0;
/*    font-family: 'Nova Mono', monospace;*/
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-size: 26px;
    color: black;
    margin: 0;
    padding: 2px;
}

h2 {
    font-size: 22px;
    color: black;
    margin: 0;
    padding: 2px;
}

h3 {
    font-size: 20px;
    color: black;
    margin: 0;
    padding: 2px;
}

h4 {
    font-size: 18px;
    color: black;
    margin: 0;
    padding: 2px;
}

h5 {
    font-size: 16px;
    color: black;
    margin: 0;
    padding: 2px;
}

p {
    font-size: 14px;
    color: gray;
    margin: 0;
    padding: 2px;
    line-height: 2.0;
}

li {
    font-size: 14px;
    color: black;
}

pre {
    background-color: #ebf8ff;
}

/*リンクのhover時の下線をなくす*/
a:hover {
    text-decoration: none;
}


/*header部分*/

.brand-name {
    font-family: 'Nova Mono', monospace;
}

/*フェイスブック、ツイッター のリンクアイコンへ適用*/
.nav-left {
    width: 80px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}




/*カード部分の設定*/

/*カードにマージンを設定して隙間を作った*/
.card {
/*    margin: 15px;*/
    margin-bottom: 15px;
}

/*メインカードの更新内容部分のフォントカラーを設定*/
.con-rec-p {
    color: dodgerblue;
}

/*カード内のリンクへ適用*/
.card-link-img {
    width: 150px;
}

.card-link {
    text-align: center;
    margin-bottom: 15px;
}

/*カードの画像のopacityを少し薄くしておく*/
.card-img-top {
    opacity: 0.7;
}

.con-prog-sql .card-top img {
    max-width: 800px;
    height: 250px;
    object-fit: none;
    object-position: 100% 10%;
}

.con-prog-php .card-top img {
    max-width: 800px;
    height: 250px;
    object-fit: cover;
    object-position: 100% 70%;
    margin-left: auto;
    margin-right: auto;
}


/*カードがhoverの時の変色を設定*/
.card:hover {
    background-color: #e2eef4;
}
.card:hover .card-header{
    background-color: #b1e3f7;
}

.card:hover .card-img-top {
    opacity: 1.0;
}

.btn-top {
    width: 100%;
    margin-top: 15px;
}



/*music note の設定*/

/*awa部分の設定*/
.music-iframe {
    max-width: 354px;
    width: 100%;
    height: 354px;
}

.awa-div {
    text-align: center;
}

.awa-come {
    text-align: center;
}

.music-bgcolor {
    background-color: #353a3f;
}




/*ツイート部分の「今日のつぶやき」文字色*/
.cont-tweet-header {
    color: dimgray;
}




/*footer部分の設定用*/
.box2 {
    /*    background-color: gray;*/
    margin: 0;
}

.box3 {
    background-color: #353a3f;
    border-top: 1px solid gray;
}

footer ul {
    padding-left: 0;
}

footer li {
    list-style: none;
    /*    padding-left: 0;*/
}

.foot {
    text-align: center;
}
